body{
  top: 0px;
  left: 0px;
  width: 100%;
  background: #F0F0F0 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 0 auto;
}
.top_image{
  width: 100px;
  height: 26px;
}
img{
  width: 100%;
}

/* ヘッダー */
header{
  display: flex;
}

.header_left{
  display: flex;
  width: 1200px;
  padding: 27px 0 28px 120px;
}
.header_title{
  margin-right: 60px;
}

nav ul{
  display: flex;
}

.nav_item{
  font: normal normal normal 14px/24px Meiryo;
  margin-right: 30px;
}

.header_right{
  margin-left: auto;
  background: black;
  color: white;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_right h1{
  font: normal normal normal 12px/24px Meiryo;
}

.mainvisual_image{
  width: 100%;
  height: 600px;
  margin-bottom: 124px;
  object-fit: cover;
}

/* ニュース */
.news{
  margin: 4px 258px 105px 220px;
}

.news_title, .about_title, .business_title, .company_title{
  width: 140px;
  height: 35px;
  font: normal normal normal 36px/24px Meiryo;
  text-align: left;
  letter-spacing: 10.8px;
  color: #000000;
}

.news_subtitle, .about_subtitle, .business_subtitle, .company_subtitle{
  font: normal normal normal 14px/24px Meiryo;
  margin-bottom: 34px;
  height: 21px;
}
hr{
  width: 40px;
  margin-bottom: 52px;
}

.news_contents_main{
  display: flex;
  justify-content: space-between;
}

.news_content_part:first-child{
  padding-left: 0px;
}
.news_content_part_second{
  margin-bottom: 15px;
  border-right: solid 1px #000;
  padding: 10px 55px 8px 20px; 
}

.news_content_part{
  margin-bottom: 15px;
  border-right: solid 1px #000;
  padding: 10px 77px 8px 20px;
}

.news_content_part_top{
  display: flex;
  margin-bottom: 16px;
}

.news_content_part_top_left{
  width: 79px;
  height: 20px;
  text-align: left;
  font: normal normal normal 14px/24px Meiryo;
  margin-right: 17px;
  display: flex;
  align-items: center;
}

.news_content_part_top_right{
  background: #000000;
  color: white;
  width: 50px;
  height: 20px;
  font: normal normal normal 12px/24px Meiryo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news_content_part_bottom{
  width: 256px;
  height: 24px;
}

.news_content_part_bottom p{
  font: normal normal normal 14px/24px Meiryo;
}

/* ABOUT */
.about{
  display: flex;
}

.about_left{
  width: 795px;
}

.about_image{
  width: 100%;
  height: 400px;
}

.about_right{
  padding: 188px 0 0 70px;
  width: 575px;
  height: 505px;
  margin-bottom: 135px;
}

.about_text{
  font: normal normal normal 14px/31px Meiryo;
}

/* BUSINESS */
.business{
  margin: 4px 240px 0px 220px
}
.business_content{
  display: flex;
  justify-content: space-between;
  padding: 0px 8%;
  margin-bottom: 118px;
}

.business_content_left{
  width: 368px;
  margin: 97px 20px 0 23px;
}

.business_content_title{
  font-weight: bold;
  margin: 3px 0 10px 0;
  font-size: 14px;
}

.business_content_left_buttom{
  margin-top: 50px;
}

.business_content_right{
  width: 368px;
}

/* COMPANY */
.company{
  height: 614px;
  width: 567px;
  background: white;
  padding: 104px 264px 100px 62px;
  position: relative;
  margin: 0px 258px 134px 204px;
}
hr{
  margin-bottom: 50px;
}

.company_content_left{
  display: flex;
  flex-direction: column;
  width: 410px;
}

.compnay_content_left_left{
  width: 84px;
  font: normal normal normal 14px/35px Meiryo;
}

.company_content_left_part{
  height: 21px;
  display: flex;
  align-items: center;
  font: normal normal normal 14px/24px Meiryo;
  margin-bottom: 10px;
}

.company_cotent_left_title{
  width: 56px;
  margin-right: 29px;
}

.company_content_left_right{
  font: normal normal normal 14px/35px Meiryo;
}

.compnay_content_left_content_container{
  margin-top: 127px;
  height: 150px;
}

.compnay_content_left_content_container_part{
  margin-bottom: 7px;
}

.company_content_right{
  position: absolute;
  width: 546px;
  top: 2833px;
  left: 689px;
}
.company_image{
  height: 400px;
  object-fit: cover;
}

/* Footer */
footer{
  padding: 39px 214px 64px 200px;
  background-color: #fff;
  height: 220px;
  display: flex;
}

.footer_left{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 39px;
  width: 218px;
  height: 125px;
}

.footer_title{
  margin-left: 20px;
}
.footer_c{
  font: normal normal normal 10px/24px Meiryo;
  margin-top: auto;
}

.footer_right{
  width: 240px;
  font: normal normal normal 14px/24px Meiryo;
  margin-left: auto;
  line-height: 21px;
}
